<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{- partial "head.html" . -}}
    <body class="mx-auto">
        {{- partial "nav.html" . -}}
        {{- partial "header.html" . -}}
        <main>
            <div class="max-w-5xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{- partial "footer.html" . -}}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" defer></script>
    <script>
        //Javascript to toggle the nav-menu
        document.getElementById('nav-open').onclick = function () {
            document.getElementById("nav-menu").classList.toggle("hidden");
            document.getElementById("nav-open").classList.toggle("hidden");
            document.getElementById("nav-close").classList.toggle("hidden");
        }
        document.getElementById('nav-close').onclick = function () {
            document.getElementById("nav-menu").classList.toggle("hidden");
            document.getElementById("nav-close").classList.toggle("hidden");
            document.getElementById("nav-open").classList.toggle("hidden");
        }
    </script>

    </body>
</html>
